@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.main {
    width:100%;
	background-color: #141414;
	font-family: "Josefin Sans", sans-serif;
  }
  
  .flexbox {
	display: flex;
	flex: 1;
  }

  a{
	color: inherit;
	text-decoration: none;
  }
  
  .LeftPanel {
	position: sticky; /* Set the element to become sticky  */
	height: 100%;
	width: 50%;
	top: 0; /* Set the sticky positon top */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
  }

  .LeftPanel .content {
	color: rgba(255, 255, 255, 0.925);
	margin-top: 100px;
	margin-right: 100px;
	min-width: 425px;
}

  #name{
	font-size: 4rem;
	margin-left: -7px;
  }

  #description{
	margin-left: 0.5%;
	color: rgba(255, 255, 255, 0.644);
  }
  
  	.RightPanel {
		height: 95rem;
		width: 50%;
  	}

  	.RightPanel .content {
		width: 75%;
		color: rgba(255, 255, 255, 0.644);
		margin-top: 110px;
		overflow-wrap: wrap;
	}

	.RightPanel .content .description{
		text-align:left;
		font-size: 20px;
		font-weight: 250;	
	}

	.link{
		color: white;
	}

	.link:hover{
		color: #9b0202;
		transition: all 0.3s ease; 
	}

	.blog{
		margin-top: 125px;
	}

  /* Animated Text */

  	#subtitle{
		display: inline-block;
		font-family: "Courier Monospace";
		font-size: 2em;
		white-space: nowrap; /* Prevent wrapping */
		color: rgba(229, 228, 228, 0.866);
	}

	#typing {
		color: #800000;
		font-family: "Jacquard 12", system-ui;
	}


	#cursor {
		display: inline;
	}

  
	/* ASCII Morph */
	.morph-section {
		width: 100%; /* Adjust width to fit within the content area */
		font-family: monospace;
		color: #9b0202;
		transform: translateX(-30px);
	  }

	.hidden {
		display: none;
	}
	
	.display {
		display: inline;
	}

	.icon-bar {
		width: 100%;
		overflow: auto;
		padding: 15px 0;
	  }
	  
	  .icon-bar a {
		float: left;
		text-align: center; 
		width: 75px; 
		padding: 25px 0; 
		transition: all 0.3s ease; 
		color: rgba(203, 203, 203, 0.644);
		font-size: 25px; 
	  }
	  
	  .icon-bar a:hover {
		color: white; /* Add a hover color */
	  }