.main {
    width:100%;
  }
  
  .flexbox {
	display: flex;
	flex: 1;
  }
  
  .LeftPanel {
	position: sticky; /* Set the element to become sticky  */
	height: 100vh;
	width: 50%;
	background-color: #0a192f;
	top: 0; /* Set the sticky positon top */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
  }

  .LeftPanel .content {
	color: white;
	margin-top: 130px;
	margin-left: 250px;
	min-width: 425px;
}

  #name{
	font-size: 4rem;
  }

  #description{
	margin-left: 0.5%;
	color: #8892b0
  }
  
  .RightPanel {
	height: 300rem;
	width: 50%;
	background-color: #0a192f;
  }

  .RightPanel .content {
	color: white;
	margin-top: 10%;
	text-align:center;
	font-size: 4em;
}

  /* Animated Text */

  	#subtitle{
		display: inline-block;
		font-family: "Courier Monospace";
		font-size: 2em;
		white-space: nowrap; /* Prevent wrapping */
		margin-left: 0.5%;
		color: rgba(255, 255, 255, 0.741);
	}

	#typing {
		color: rgba(58, 58, 255, 0.711);
	}


	#cursor {
		display: inline;
	}

  
	/* ASCII Morph */
	.morph-section {
		width: 100%; /* Adjust width to fit within the content area */
		font-family: monospace;
		color: #64ffda;
		transform: translate(-75px, -110px);
	  }

	.hidden {
		display: none;
	}
	
	.display {
		display: inline;
	}